.contact-img{
  transition: transform 0.3s;
  
}

.contact-img:hover{
  transform: scale(1.2);
  
}

#contact{
  background-color: white;
  border-left-color: blue;
  border-radius: 5px;
  align-items: center;
  
  
}